@import 'partials/base';
@import 'partials/animation';

/* ==========================================================================
   Custom Styles
   ========================================================================== */

.isChrome {
    .cat,
    .modal,
    canvas,
    .toggle {
        @include animation(squiggles 0.3s infinite alternate);
    }
}

.cat {
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: url("../img/splash.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transform: scale(1.15);
    z-index: 0;
}

.modal {
    position: fixed;
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-shadow: black 1px 1px;
    letter-spacing: 0.05em;
    pointer-events: none;
    z-index: 1;
}

.modal__title {
    font-size: 3em;
    text-align: center;
}

.modal__subtitle {
    font-size: 1.5em;
}

canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    cursor: -webkit-grab;
    &.canvas--input {
        cursor: -webkit-grabbing;
    }
}

.noise {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 10;
}

.noise:after {
    position: absolute;
    content: "";
    width: 300%;
    height: 300%;
    left: -100%;
    top: -100%;
    background: url($base-noise-010);
    @include animation(noise 5s steps(10) infinite);
}

.toggle {
    position: absolute;
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);
    bottom: 1em;
    right: 1.25em;
    width: 4rem;
    height: 4rem;
    line-height: initial;
    text-align: center;
    color: white;
    border: 2px white solid;
    border-radius: 4rem;
    box-shadow: 1px 1px 0 0 black;
    opacity: 0.5;
    cursor: pointer;
    z-index: 3;

    &:hover {
        opacity: 1;
    }

    .toggle__icon {
        width: 75%;
        height: 75%;
        fill: white;
        @include filter(drop-shadow(1px 1px 0px black));
    }

    .toggle__icon--mute {
        display: none;
    } 
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 1024px) {}

@media only screen and (max-width: 768px) {}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {}
