@import 'partials/base';
@import 'partials/animation';

/* ==========================================================================
   Custom Styles
   ========================================================================== */

.isChrome {
    .cat,
    .modal,
    canvas {
        @include animation(squiggles 0.3s infinite alternate);
    }
}

.cat {
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: url("/img/splash.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transform: scale(1.15);
    z-index: 0;
}

.modal {
    position: fixed;
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-shadow: black 1px 1px;
    letter-spacing: 0.05em;
    pointer-events: none;
    z-index: 1;
}

.modal__title {
    font-size: 3em;
    text-align: center;
}

.modal__subtitle {
    font-size: 1.5em;
}

canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    cursor: -webkit-grab;
    &.canvas--input {
        cursor: -webkit-grabbing;
    }
}

.noise {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 10;
}

.noise:after {
    position: absolute;
    content: "";
    width: 300%;
    height: 300%;
    left: -100%;
    top: -100%;
    background: url($base-noise-010);
    @include animation(noise 5s steps(10) infinite);
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 1024px) {}

@media only screen and (max-width: 768px) {
    //     body {
    //         font-size: 2em;
    //     }
    //     .calendar {
    //         width: 100vw;
    //     }
    //     .calendar__day {
    //         @include flex-basis(100%);
    //         @include justify-content(space-between);
    //         height: calc(100vh / 7);
    //         padding: 0 1.5em;
    //         pointer-events: none;
    //     }
    //     .day__date br {
    //         display: none;
    //     }
    //     .day__value {
    //         display: block;
    //         font-size: 1.5em;
    //         color: rgba(0, 0, 0, 0.33);
    //     }
    //     .day__value--none {
    //         font-weight: $light;
    //     }
    // }
    // @media only screen and (max-width: 485px) {
    //     .info__btn {
    //         display: none;
    //         position: relative;
    //         top: auto;
    //         right: auto;
    //         margin: 0.5em auto 0 auto;
    //     }
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {}
