@import 'partials/base';
@import 'partials/animation';

/* ==========================================================================
   Custom Styles
   ========================================================================== */

.bug {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 25px;
    width: auto;
    height: 30px;
    opacity: .3;
    -ms-filter: "alpha(opacity=30)";
    border: none;
    outline: none;
}

.cat {
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: url("/img/splash.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transform: scale(1.15);
}

canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    @include animation(squiggles 0.3s infinite alternate);
    cursor: -webkit-grab;
    &.canvas--input {
        cursor: -webkit-grabbing;
    }
}

.iOS canvas {
    @include animation(none);
}

.noise {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 7;
}

.noise:after {
    position: absolute;
    content: "";
    width: 300%;
    height: 300%;
    left: -100%;
    top: -100%;
    background: url($base-noise-010);
    @include animation(noise 5s steps(10) infinite);
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 1024px) {}

@media only screen and (max-width: 768px) {
    //     body {
    //         font-size: 2em;
    //     }
    //     .calendar {
    //         width: 100vw;
    //     }
    //     .calendar__day {
    //         @include flex-basis(100%);
    //         @include justify-content(space-between);
    //         height: calc(100vh / 7);
    //         padding: 0 1.5em;
    //         pointer-events: none;
    //     }
    //     .day__date br {
    //         display: none;
    //     }
    //     .day__value {
    //         display: block;
    //         font-size: 1.5em;
    //         color: rgba(0, 0, 0, 0.33);
    //     }
    //     .day__value--none {
    //         font-weight: $light;
    //     }
    // }
    // @media only screen and (max-width: 485px) {
    //     .info__btn {
    //         display: none;
    //         position: relative;
    //         top: auto;
    //         right: auto;
    //         margin: 0.5em auto 0 auto;
    //     }
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {}
